body{
	margin-left:300px;
	margin-right:300px;
	background-color:LightCyan;
	}
	p
	{
	font-family:verdana;
	}
	#butn{
	border-radius:5px;
	background-color:pink;
	}
	h1{
	 font-family:fantasy;
	 font-size:50px;
	 color:DarkGray;
	 margin-left:300px;
	 letter-spacing:20px;
	
	}